body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar' 'header section aside div' 'footer footer footer footer';
    grid-template-rows: 10vh 80vh 20vh;
}
nav{
    grid-area: navbar;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
}
nav img{
    width: 32px;
    display: none;
    cursor: pointer;
}
header{
    grid-area: header;
    background-color: dodgerblue;
}
section{
    grid-area: section;
    background-color: red;
}
aside{
    grid-area: aside;
    background: green;
}
div{
    grid-area: div;
    background-color: brown;
}
footer{
    grid-area: footer;
    background-color: purple;
}
@media(max-width:768px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar' 'header header section section' 'aside aside div div' 'footer footer footer footer';
        grid-template-rows: 10vh 80vh 80vh 20vh;
        grid-gap: 1px;
    }
    nav a{
        display: none;
    }
    nav img{
        display: block;
    }
}
@media(max-width:425px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar' 'header header header header' 'section section section section' 'aside aside aside aside' 'div div div div' 'footer footer footer footer';
        grid-template-rows: 10vh 60vh 60vh 60vh 60vh 20vh;
    }
}